{% extends 'base.html.twig' %}

{% block title 'Home' %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<h1>Quentin SCHNEIDER</h1>
			<h2>Intégrateur et Développeur web</h2>
			<h3>Formations</h3>
			<div id="formations"></div>
			<h3>Compétences</h3>
			<ul class="list-group" id="skills"></ul>
			<h3>Références</h3>
			<div class="row" id="references"></div>
		</div>
	</div>
{% endblock %}
